.choose-os {
  padding: 40px 20px;
  background-color: $light-bg;
}

.choose-os__title {
  @include zero-indent;

  margin-bottom: 40px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $bright-color;
}

.choose-os__list {
  @include no-list;
}

.choose-os__item {
  margin-bottom: 55px;
}

.choose-os__item:last-child {
  margin-bottom: 0;
}

.choose-os__label {
  position: relative;

  padding-left: 70px;

  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $main-color;

  &::before {
    content: "";

    position: absolute;
    top: -5px;
    left: 0;

    width: 37px;
    height: 37px;

    background-color: #ffffff;
    border: 2px solid $cell-border;
    border-radius: 50%;
  }
}
