.edit {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 34px;
  margin-bottom: 38px;

  &::after {
    content: "";
    position: absolute;

    width: calc(100vw - 17px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    border-bottom: 1px solid rgba($main-color, 0.1);
  }
}

.edit__controls {
  @include no-list;

  margin-bottom: 40px;

  width: 195px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit__effect-level:not(.edit__effect-level--mobile) {
  display: none;
}

.edit__effect-level--mobile {
  position: relative;
}

.edit__scale--mobile {
  width: 240px;
  height: 2px;
  background-color: $main-color;
}

.edit__scale-btn--mobile {
  @include zero-indent;
  position: absolute;

  top: -6px;
  left: 193px;

  width: 14px;
  height: 14px;

  border: 2px solid $bright-color;
  border-radius: 50%;
}
