.page-gallery__heading {
  @include zero-indent;

  padding-top: 35px;
  padding-right: 40px;
  padding-bottom: 80px;
  padding-left: 40px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;

  background-color: $main-color;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -63px;
}

.page-gallery__heading--menu-closed {
  padding-top: 100px;
  background-position-y: top;
}

.page-gallery__intro {
  padding: 50px 20px 55px;

  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-color;
}
