.offer {
  min-height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(-5deg, $light-bg 0%, $light-bg 15%, #ffffff 15%);
}

.offer__text {
  @include zero-indent;
  width: 80%;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $main-color;
}

.offer__text:first-child {
  margin-bottom: 40px;
}
