.reviews {
  padding: 50px 20px 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(-5deg, $light-bg 0%, $light-bg 15%, #ffffff 15%);
}

.reviews__item {
  @include zero-indent;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__user-name {
  margin-bottom: 30px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.reviews__text {
  @include zero-indent;

  margin-bottom: 44px;

  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
